@model IEnumerable<_10453370_POE_WebApp.Models.Event>

@{
    ViewData["Title"] = "Event Details";
}

<h1>Index</h1>
@if (TempData["Error Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error Message"]
    </div>
}
@if (TempData["Success Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Success Message"]
    </div>
}
@if (TempData["SuccessC Message"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessC Message"]
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event_ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Event_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Event_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Event_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
